.keybase {
    background-color: #333;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .keyboardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin: 0 auto;
    gap: 5px;
    margin-top: 90px;
    justify-content: center;
  }
  .key {
    background-color: rgb(211, 214, 218);
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: black;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
  }
  .emptyKey {
    width: 25px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .enterKey {
    background-color: rgb(211, 214, 218);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: black;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
  }
  
  .deleteKey {
    background-color: rgb(211, 214, 218);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: black;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
  }
  
  .keycorrect {
    background-color: #6AAA64;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
  }
  
  .keypresent {
    background-color: #c9b458;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
  }
  
  .keyabsent {
    background-color: #787c7e;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
  }
  @media (max-height: 750px) {
    .keyboardContainer {
      display: flex;
      flex-wrap: wrap;
      width: 450px;
      margin: 0 auto;
      gap: 5px;
      margin-top: 20px;
      justify-content: center;
    }
  }
  @media (max-width: 500px) {
    .keyboardContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 98%;
      margin: 0 auto;
      gap: 3px;
      margin-top: 30px;
    }
    .key {
      background-color: rgb(211, 214, 218);
      display: flex;
      justify-content: center;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      color: black;
      font-size: .875rem;
      line-height: 1.25rem;
      font-weight: 700;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8.7%;
      height: 3.5rem;
      padding:6px;
    }
    .deleteKey {
      width: 11%;
    }
    .enterKey {
      width: 15%;
    }
    .keycorrect {
      background-color: #6AAA64;
      display: flex;
      justify-content: center;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      color: white;
      font-size: .875rem;
      line-height: 1.25rem;
      font-weight: 700;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8.7%;
      height: 3.5rem;
      padding:6px;
    }
    
    .keypresent {
      background-color: #c9b458;
      display: flex;
      justify-content: center;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      color: white;
      font-size: .875rem;
      line-height: 1.25rem;
      font-weight: 700;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8.7%;
      height: 3.5rem;
      padding:6px;
    }
    
    .keyabsent {
      display: flex;
      justify-content: center;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      color: white;
      font-size: .875rem;
      line-height: 1.25rem;
      font-weight: 700;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8.7%;
      height: 3.5rem;
      padding:6px;
    }

  }