.modalViewContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .top{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    height: 50px;
    margin-bottom: 1rem;
    align-items: center;
}
.top h2{
    height: 50px;
    text-align: center;
    font-size: 22px;
}
  .contenedorCopy{
      display: flex;
      justify-content: center;
      text-align: center;
      
  }
  .copy{
  background: #117f0f;
  color: #fff;
  border: 0;
  margin-top: 3em;
  font-family: Montserrat, sans-serif;
  box-shadow: 0 0 4px 1px #37d034;
  cursor: pointer;
  height: 40px;
  width: 200px;
  text-align: center;
  
}
.rae{
    margin-top: 1rem;
}
.word{
    font-size: 24px;
    display: flex;
    justify-content: center;
    width: 250px;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.word p{
    margin:0;
    font-size: 1.25rem;
}
.word h3{
    margin-top:10px;
    font-size: 1.25rem;
}
.close{
    background: transparent;
    border:0;
    cursor: pointer;
    position:absolute;
    right: 15px;
    top:20px;
    font-size: 16px;
}
.jugada{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.autor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.jugada p{
    font-size: 18px;
    margin:0;
    padding:0;
}
  .modalContainer {
    border: 2px solid #555;
    width: 400px;
    background: #fffffff3;
    padding: 5em 3em;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 15px #000;
    position: relative;
    display: flex;

    flex-direction: column;
    position: relative;
    align-items: center;
  }
 .modalContainer h2{
    font-size: 36px;
    position: relative;
 }
  
  .puzzle {
    width: 200px;
    margin: 0 auto;
    font-size: 30px;
  }
  
  .puzzleWord {
    display: flex;
    justify-content: center;
  }