.modalViewContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .top{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    height: 50px;
    margin-bottom: 1rem;
    align-items: center;
}
.top h2{
    height: 50px;
    text-align: center;
    font-size: 22px;
    margin-top: -2rem;
}
.contenedorBoton{
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 2rem;
      
}
.rae{
    margin-top: 1rem;
}
.word{
    font-size: 24px;
    display: flex;
    justify-content: center;
    width: 250px;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.word p{
    margin:0;
    font-size: 1.25rem;
}
.word h3{
    margin-top:10px;
    font-size: 1.25rem;
}
.close{
    background: transparent;
    border:0;
    cursor: pointer;
    position:absolute;
    right: 0px;
    top:-40px;
    font-size: 16px;
}
.jugada{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.autor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 16px;
}
.jugada p{
    font-size: 18px;
    margin:0;
    padding:0;
}
.siguientePalabra{
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 1rem;
        color: white;
        margin:0;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
        cursor:pointer;
      
}
  .modalContainer {
    border: 2px solid #555;
    width: 400px;
    height: 550px;
    background: #fffffff3;
    padding: 5em 3em;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 15px #000;
    position: relative;
    display: flex;

    flex-direction: column;
    position: relative;
    align-items: center;
  }
 .modalContainer h2{
    font-size: 36px;
    position: relative;
 }
 .modalContainer p{
     margin-top: -2rem;
 }
  
  .puzzle {
    width: 200px;
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: 1rem;
  }
  
  .puzzleWord {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 500px) {
    .modalContainer {
        border: 2px solid #555;
        width: 400px;
        height: 650px;
        background: #fffffff3;
        padding: 5em 3em;
        color: black;
        text-align: center;
        box-shadow: 5px 5px 15px #000;
        position: relative;
        display: flex;
    
        flex-direction: column;
        position: relative;
        align-items: center;
      }
    .close{
        background: transparent;
        border:0;
        cursor: pointer;
        position:absolute;
        right: -2rem;
        top:0rem;
        font-size: 16px;
    }
    .autor{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 16px;
    }
    .top h2{
        height: 50px;
        text-align: center;
        font-size: 32px;
        margin-top: 4rem;
    }
    .modalContainer p{
        margin-top: 0rem;
    }
  }